/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/*---------------------------- Date override START ----------------------------*/

div.date-heading h3 {
  a {
    font-size: 13px;
  }
  font-size: 13px;
}


/*---------------------------- Date override END ----------------------------*/

.view-meetings-search .views-table {
  th.views-field {
    &.views-field-php-7 {
      width: 75px;
    }
    &.views-field-field-os2web-meetings-date {
      width: 100px;
    }
    &.views-field-php-3 {
      width: 45%;
      overflow: hidden;
    }
  }
  td.views-field.views-field-php-3 {
    overflow: hidden;
  }
}

/* ---------------------------- arrows_reverse START ---------------------------- */

.arrows-reverse {
  display: block;
  width: 130px;
}

.available_committee {
  float: left;
}

ul.droptrue li {
  max-width: 220px;
  &.can-subscribe span {
    max-width: 190px;
  }
}

/* ---------------------------- arrows_reverse END ---------------------------- */

.breadcrumb .breadcrumb-active {
  max-width: 200px;
}
.block-views .view-user-logout-menu li div {
  display: inline-block;
  &.right {
    float: none;
  }
}