$border-solid: 1px solid $color-border-primary;
$border-radius: 3px;
$border-button: 1px solid $color-branding-secondary;
$border-block-header: 1px solid $color-background-secondary;
$border-block-body: 1px solid $color-background-primary;
$border-color-primary: 1px solid $color-branding-primary;
$border-color-secondary: 1px solid $color-branding-secondary
