// Base colors
$color-white: #fffffe;
$color-grey: #d7d9da;
$color-black: #000;

// Theme colors
$color-body: #fff;
$color-branding-secondary: #ae477d;
$color-branding-primary: #9c1a5e;
$color-font-primary: #373636;
$color-background-primary: #f7f1f1;
$color-background-secondary: #e3d6d6;

$color-border-primary: $color-white;
$color-border-dots: $color-font-primary;