// Base colors
$color-white: #FFF;
$color-grey: #d7d9da;
$color-black: #000;

// Theme colors
$color-body: #FFF;
$color-branding-secondary: #9c1a5e;
$color-branding-primary: #ae477d;
$color-font-primary: #373636;
$color-background-primary: #f7f1f1;
$color-background-secondary: #e3d6d6;

$color-border-primary: #fbf8f8;
$color-border-dots: $color-font-primary;