@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Proxima Nova');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


$font-basic: 'Proxima Nova';

$font-icons: 'Material Icons';


$font-size-headings: 20px;
$font-size-body: 14px;
$font-size-table-header: 18px;
$font-size-button: 16px;