.form-item, .views-exposed-widget {
    margin-bottom: 1em;
    width: 100%;   
    label {
        display: inline-block;
        font-size: 1.1em;
        margin-bottom: 5px;
    }
    input.form-text {
        font-size: 1.0em;
        line-height: 1em;
        border: $border-solid;
        padding: 5px 10px;
        border-radius: 2px;
        background-color: $color-white;
        box-sizing:border-box;
        display: block;
        width: 100%;
        border-radius: $border-radius;
    }
    select.form-select {
        font-size: 1.0em;
        line-height: 1em;
        border: $border-solid;
        padding: 5px 10px;
        border-radius: 2px;
        background-color: $color-white;
        box-sizing:border-box;
        display: block;
        width: 100%;
        border-radius: $border-radius;
    }
    .date-padding {
        float: none;
    }
    .filter-wrapper &{
        padding: 0;
    }

}

/* Title, Meeting ID, Meeting sub ID */
.form-item-title, .field-type-number-integer {
//.form-item-title, .field-name-field-os2web-meetings-id, .field-name-field-os2web-meetings-sub-id, field-type-number-integer field-name-field-os2web-meetings-system-id field-widget-number form-wrapper {
    width: 32%;
    display: inline-block;
    margin-right: 5px;
    @include media("<tablet") {
        width: 100%;
    }
    @include media(">tablet", "<desktop") {
        width: 49%;
    }
}
/* Meeting type */
.form-item-field-os2web-meetings-type-und {
    display: block;
    .form-radios {
        .form-item {
            width: 32%;
            display: inline-block;
            @include media("<phone") {
                width: 48%;
            }
            @include media(">tablet") {
                width: 24%;
            }
        }
    }
}
/* Meeting date */
.container-inline-date {
    .form-item {
        .form-item {
            width: 19%;
            display: inline-block;
            margin-right: 5px;
            @include media("<tablet") {
                width: 47%;
                &.form-type-select[class*=hour] {
                    clear: left;
                    margin-left: 0;
                }
            }
            @include media(">tablet", "<desktop") {
                width: 32%;
                &.form-type-select[class*=hour] {
                    margin-left: 0;
                }
            }
        }
    }
}
.form-submit {
    background-color: $color-branding-primary;
    border: $border-color-secondary;
    border-radius: $border-radius;
    -webkit-appearance: none;  
    color: $color-white;
    padding: 5px 20px 5px 20px;
    font-family: $font-basic;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color .1s ease-in;
    &:hover {
        background-color: $color-branding-secondary;
        transition: background-color .3s ease-out;
    }
    &.nav-button {
        background: $color-branding-secondary;
        color: $color-white;
        padding: 5px 10px 5px 10px;
        font-family: $font-basic;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background: $color-branding-primary;
            padding: 5px 10px 5px 10px;
            font-family: $font-basic;
            font-size: 13px;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    .form-actions.form-wrapper & {
        margin-right: 10px;
    }
}
.form-actions input:hover {
   background: $color-branding-secondary
}
.ui-state-default {
  border: 1px solid $color-branding-secondary;
  border-radius: $border-radius;
}

.select-committee ul.droptrue {
  border: 1px solid $color-background-primary;
  border-radius: $border-radius;
}
.form-textarea-wrapper textarea {
  border-radius: $border-radius;
  border: 1px solid $color-white;
}
.chosen-container-multi .chosen-choices {
  background-image: none;
  background-color: $color-white;
  border-radius: $border-radius;
  border: 1px solid $color-white;
}
.chosen-container-active .chosen-choices {
  border-color: $color-background-secondary;
}